#redSquare{
    height: 50px;
    width: 50px;
    background-color: red;
}
#blueCircle{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 100%;
}
.border{
    border: 5px solid black;
}
.greenSquare{
    height: 50px;
    width: 50px;
    background-color: green;
    margin: 10px 0;
}