/* .red{
    color: red;
}
.underline{
    text-decoration: underline;
}
.green{
    color: green;
} */



















.green{
    color: green;
}
.red {
    color: red;
}
.underline{
    text-decoration: underline;
}